{
    "networks": {
        "mainnet": {
            "infuraKey": "",
            "privateKey": ""
        },
        "ropsten": {
            "infuraKey": "",
            "privateKey": ""
        },
         "goerli": {
             "infuraKey": "",
             "privateKey": ""
         }
    }
}