{
    "networks": {
        "mainnet": {
            "infuraKey": "",
            "privateKey": "",
            "deployer": "",
            "payout": "",
            "weth": ""
        },
        "ropsten": {
            "infuraKey": "",
            "privateKey": "",
            "deployer": "",
            "payout": "",
            "weth": ""
        },
        "hardhat": {
            "infuraKey": "",
            "privateKey": "",
            "deployer": "",
            "payout": "",
            "weth": ""
        }
    }
}
