{
  "network": "hardhat",
  "networks": {
      "mainnet": {
          "infuraKey": "",
          "deployer": "",
          "payout": "",
          "privateKey": ""
      },
      "ropsten": {
          "infuraKey": "",
          "deployer": "",
          "payout": "",
          "privateKey": ""
      },
      "hardhat": {
        "infuraKey": "",
        "deployer": "",
        "payout": "",
        "privateKey": ""
    }
  }
}
